form.signup,
form.login {
  margin-top: 50px;
}
.loginPage{
  background: url('Images/LakeBled\ \(3\).jpg') no-repeat center center fixed;
  background-size: cover;
} 
#signupButton{
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: .15px;
  -webkit-text-stroke-color: grey;
}
#loginButton{
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: .15px;
  -webkit-text-stroke-color: rgb(107, 107, 107);
}
#welcometext{
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: .15px;
  -webkit-text-stroke-color: grey;
}
#signupPage{
  background: url("Images/Romania2\ \(2\).jpg") no-repeat center center fixed;
  background-size: cover;
}
#footer{
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;
text-align: center;
color: white;
} 
#homepagebtn{
    margin: 0 auto;
    display: block;
    width: 250px;
}
#membersPage{
  background: url(Images/Shkoder.JPG) no-repeat center center fixed;
  background-size: cover;
}
#memberWelcome{
  background: transparent;
}
#homeLogout{
  display: inline-block;
}
.card{
  float: left;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 250px;


}
.delete-destination{
  color: red;
  font-size: small;
  background-color: transparent;
  border: transparent;
}
.delete-activity{
  color: red;
  font-size: small;
  background-color: transparent;
  border: transparent;
}
.container-fluid{

  display: inline-block;
}
#newDestBtn{
  margin-left: 10px;
}
#homePage{
  background: url(Images/Shkoder.JPG) no-repeat center center fixed;
  background-size: cover;
}
.card-img-top{
  max-height: 275px;
  max-width: 500px;
}

.jumbotron{
  border: 3px solid #834d5e;
    border-radius: 5px;
    background-color: white;
}

nav.crete{
  font-family: 'Crete Round', serif;
  font: #834d5e;
}