form.signup,
form.login {
  margin-top: 50px;
}
.loginPage{
  background: url('Images/LakeBled\ \(3\).jpg') no-repeat center center fixed;
  background-size: cover;
} 
#signupButton{
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: .15px;
  -webkit-text-stroke-color: grey;
}
#loginButton{
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: .15px;
  -webkit-text-stroke-color: grey;
}
#signupPage{
  background: url("Images/Romania2\ \(2\).jpg") no-repeat center center fixed;
  background-size: cover;
}
#footer{
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;
text-align: center;
color: white;
} 
.btn-lg{
    margin: 0 auto;
    display: block;
    width: fit-content;
}
#membersPage{
  background: url(Images/Shkoder.JPG) no-repeat center center fixed;
  background-size: cover;
}
#memberWelcome{
  background: transparent;
}
#homeLogout{
  /* float: right; */
  display: inline-block;
}
.card{
  float: left;
}
.delete-destination{
  color: red;
  font-size: small;
  background-color: transparent;
  border: transparent;
}